<h1>About The Jungle</h1>
<p>The Jungle aims to provide every household with a small piece of the wild. Beautiful plants and flowers as well as accessories needed to keep them well taken care of!</p>
